.pill {
	margin: .25rem;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 800px;

	@media (max-width: 640px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

ul {
	padding-inline-start: 0px;
}

.item-separator {
	@media (max-width: 640px) {
		display: none;
	}
}